<div class="categories">
  <button class="all-categories-btn js-btn-all-categories" type="button">
    All categories
  </button>
  <ul class="js-categories">
    <li class="js-categories-item list ">Beef</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
    <li class="js-categories-item list ">Recipe</li>
  </ul>
</div>