<div class="section-fav-hero animate__animated animate__fadeInDown">
    <div class="container container-hero">
      <picture class="favorite-image">
        <source media="(min-width:1280px)" srcset="
          ./images/favorites-hero/carddesc.jpg 1x,
          ./images/favorites_hero/card@2xdesc 2x
        ">
        <source media="(min-width:768px)" srcset="
          ./images/favorites_hero/card@1xtab.jpg 1x,
          ./images/favorites_hero/card@2xtab.jpg 2x
        ">
        <source media="(max-width:767px)" srcset="
          ./images/favorites_hero/card@1xmob.jpg 1x,
          ./images/favorites_hero/card@2xmob.jpg 2x
        ">
        <source media="(max-width:767px)" srcset="
          ./images/favorites_hero/favorites-hero-mob-1x.png 1x,
          ./images/favorites_hero/favorites-hero-mob-2x.png 2x
        ">
        <img class="image-fav" src="./images/favorites-hero/card@1xmob.jpg" alt="Favorite food" loading="lazy">
      </picture>
    </div>
  </div>