<div class="section-fav-hero animate__animated animate__fadeInDown">
    <div class="container hero-container">
      <picture class="favorite-image">
        <source media="(min-width:1280px)" srcset="
          ./images/carddesc.jpg 1x,
          ./images/card@2xdesc.jpg 2x
        ">
        <source media="(min-width:768px)" srcset="
          ./images/card@1xtab.jpg 1x,
          ./images/card@2xtab.jpg 2x
        ">
        <source media="(max-width:767px)" srcset="
          ./images/card@1xmob.jpg 1x,
          ./images/card@2xmob.jpg 2x
        ">
        <img class="image-fav" src="../images/card@1xmob.jpg" alt="Favorite food" loading="lazy">
      </picture>
    </div>
  </div>