<header class="header" id="header">
    <div class="header-container">
        <nav class="header-nav-left">
            <ul class="header-nav-list list">
                <li>
                    <a href="./index.html" class="link nav-link desk-h active">Home</a>
                </li>
                <li>
                    <a href="./favorite.html" class="link nav-link">Favorites</a>
                </li>
            </ul>
        </nav>

        <div class="logo">
            <a href="./index.html" class="link header-logo">tasty<span class="dark-part">treats.</span></a>
        </div>
        <div class="header-right">
            <a href="tel:+380730000000" class="btn-shopping-cart link">
                <svg class="svg-shopping-cart">
                    <use href="./icons.svg#icon-shopping-cart"></use>
                </svg>
            </a>
            <label class="switch" for="theme-toggle">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
            </label>
            <button class="header-btn-hamburger">
                <svg class="header-btn-hamburger-svg">
                    <use href="./icons.svg#icon-hamburger"></use>
                </svg>
            </button>
        </div>

    </div>
</header>
<div class="header-mobile-menu">
    <button class="header-btn-close">
        <svg class="header-btn-close-svg">
            <use href="./icons.svg#icon-x"></use>
        </svg>
    </button>
    <nav class="header-mobile-nav">
        <ul class="list header-nav-mobile-list">
            <li>
                <a href="./index.html" class="link nav-mobile-link link-h active">Home</a>
            </li>
            <li>
                <a href="./favorite.html" class="link nav-mobile-link ">Favorites</a>
            </li>
        </ul>
    </nav>
    <div class="switch-toggler">
        <label class="switch-mobile" for="theme-toggle">
            <input type="checkbox" id="theme-toggle">
            <span class="slider-mobile round"></span>
        </label>
    </div>
</div>