<button class="categories-btn modal-open-recipe" data-modal-open-recipe>
  See recipe
</button>
<!-- якщо ця кнопка тут, а не у файлі render js - то модалка відкриваєтся -->
<div class="backdrop-recipe is-hidden" data-modal-recipe>
  <div class="modal-recipe">
    <button type="button" class="modal-close-recipe" data-modal-close-recipe>
      <svg class="modal-close-icon">
        <use href="/src/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal-content-recipe"></div>

    <button type="button" class="favorites-btn">Add to favorite</button>
  </div>
</div>
