<button type="button" class="rating-open-btn btnOrderNow">
    Give a rating
</button>
<div class="rating-backdrop backdrop is-hidden">
    <div class="rating-modal modal is-hidden" data-rating-modal>
        <button class="rating-close-btn" type="button">
            <svg class="rating-close-icon" width="24" height="24" data-rating-close>
                <use href="./icons.svg#icon-x"></use>
            </svg>
        </button>
        <div class="rating-wrapper wrapper">
            <div class="rating-top-wrapper">
            <h2 class="rating-title">Rating</h2>
            <div class="rating-body-wrapper">
                <p class="rating-value">0.0</p>
                <div class="rating">
                <div class="rating-body rating-set">
                    <div class="rating-active">
<div class="rating">
    <input type="checkbox" id="star1" name="rating" value="1" />
    <label for="star1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <use class="rating-icon-use" href="../icons.svg#icon-star"></use>
        </svg>
    </label>
    <input type="checkbox" id="star2" name="rating" value="2" />
    <label for="star2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <use class="rating-icon-use" href="../icons.svg#icon-star"></use>
        </svg>
    </label>
    <input type="checkbox" id="star3" name="rating" value="3" />
    <label for="star3">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <use class="rating-icon-use" href="../icons.svg#icon-star"></use>
        </svg>
    </label>
    <input type="checkbox" id="star4" name="rating" value="4" />
    <label for="star4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <use class="rating-icon-use" href="../icons.svg#icon-star"></use>
        </svg>
    </label>
    <input type="checkbox" id="star5" name="rating" value="5" />
    <label for="star5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <use class="rating-icon-use" href="../icons.svg#icon-star"></use>
        </svg>
    </label>
</div>


                        <!-- <div class="rating-items">
                            <label for="rating-1" class="rating-item-label" name="rating" >
                                <input type="radio" class="rating-item-input" name="rating" value="1" id="rating-1" aria-label="bad">
                                <svg class="rating-item-icon" width="24px" height="24px">
                                    <use class="rating-icon-use" href="../icons.svg#icon-star"></use>
                                </svg>
                            </label>
                            <label for="rating-2" class="rating-item-label" name="rating">
                                <input type="radio" class="rating-item-input" name="rating" value="2" id="rating-2" aria-label="not very good">
                                <svg class="rating-item-icon" width="24px" height="24px">
                                    <use href="../icons.svg#icon-star"></use>
                                </svg>
                            </label>
                            <label for="rating-3" class="rating-item-label" name="rating">
                                <input type="radio" class="rating-item-input" name="rating" value="3" id="rating-3" aria-label="good">
                                <svg class="rating-item-icon" width="24px" height="24px">
                                    <use href="../icons.svg#icon-star"></use>
                                </svg>
                            </label>
                            <label for="rating-4" class="rating-item-label" name="rating">
                                <input type="radio" class="rating-item-input" name="rating" value="4" id="rating-4" aria-label="great">
                                <svg class="rating-item-icon" width="24px" height="24px">
                                    <use href="../icons.svg#icon-star"></use>
                                </svg>
                            </label>
                            <label for="rating-5" class="rating-item-label" name="rating">
                                <input type="radio" class="rating-item-input" name="rating" value="5" id="rating-5" aria-label="the best">
                                <svg class="rating-item-icon" width="24px" height="24px">
                                    <use href="../icons.svg#icon-star"></use>
                                </svg>
                            </label>
                        </div> -->
                    </div>
                </div>
                </div>
            </div>
            </div>
            <form action="" class="rating-form">
                <label class="rating-form-label" for="email">Email</label>
                <div class="rating-form-element">
                    <input class="rating-form-input" type="email" name="email" id="email" required autocomplete="on"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter email" />
                </div>
                <button class="rating-form-btn send-btn" type="submit">Send</button>
            </form>
        </div>

    </div>
</div>