 /* стилі для маленьких середніх  кнопок */

 .btn-style {
     font-family: Inter;
     font-style: normal;
     font-size: 14px;

     padding: 14px 28px;
     font-weight: 500;
     border: 1px solid #9BB537;
     border-radius: 15px;

 }



 /* стилі для великих кнопок */

 .btn-style-cotegories {
     font-family: Inter;
     font-size: 18px;
     font-weight: 500;

     width: 174px;
     height: 50px;

     border: 1px solid #9BB537;
     border-radius: 15px;
     padding: 14px 28px;

 }