.categories {
  min-width: 320px;
  max-width: 375px;;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  
}

.left-site {
  font-family: 'Inter';
  width: 100%;
}

.all-categories-btn {
  width: 174px;
  height: 50px;
  background-color: transparent;
  color: var(--secondary-text-color);

  border: 1px solid var(--input-color); 
  border-radius: 15px;

  margin-bottom: 30px;
  
  line-height: 0.82;
  font-weight: 500;
  font-size: 18px;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition: all 500ms;
}

.all-categories-btn:hover, 
.all-categories-btn:focus {
  background-color: #9BB537; 
  border: none;
  color: #F8F8F8; 
}

.js-categories {
  overflow-y: scroll;
  height: 198px;
   padding: 0px;

}

.js-categories-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.8;
  color: rgba(5, 5, 5, 0.3);
  margin-top: 18px;
  transition: all cubic-bezier(0.4, 0, 0.2, 1);
}

.active{
   color: var(--accent-text-color); 
}

.js-categories-item:hover, 
.js-categories-item:focus {
  color: var(--accent-text-color); 
  cursor: pointer;
  transition: all 500ms;
}

.js-categories-item:first-child {
  margin-top: 0;
}


/* scrollbar */

.js-categories::-webkit-scrollbar {

  width: 8px;
}

.js-categories::-webkit-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.18);
   border-radius: 20px;
   height: 116px;
}


/*=============================================
=          table and desk switch          =
===============================================*/

@media screen and (min-width: 768px) {
  .categories {

    max-width: 768px;
    padding: 0 32px;
    margin-bottom: 56px;
  }
  .left-site {
      width: 176px;
  }

  .js-categories {
    height: 416px;
  }

  .js-categories::-webkit-scrollbar-thumb {
    height: 201px;
  }

  .js-categories-item {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1280px) {

  .categories {
    max-width: 1105px;
    margin-bottom: 64px;
    padding: 0 12px;
  }
  .left-site {
    width: 235px;
    padding-left: 100px;
    padding-right: 100px;
  }

 .js-categories {
    width: 235px;
  }
}







  
 