.categories {
  padding: 0;
}
.all-categories-btn {
  width: 174px;
  height: 50px;
  background-color: transparent;
  color: var(--secondary-text-color);

  border: 1px solid var(--input-color);
  border-radius: 15px;

  margin-bottom: 30px;

  line-height: 0.82;
  font-weight: 500;
  font-size: 18px;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition: all 500ms;
}

.all-categories-btn:hover,
.all-categories-btn:focus {
  background-color: #9bb537;
  border: none;
  color: #f8f8f8;
}

.js-categories {
  overflow-y: scroll;
  height: 198px;
  padding: 0px;
}

.js-categories-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.8;
  color: rgba(5, 5, 5, 0.3);
  margin-top: 18px;
  transition: all cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: var(--accent-text-color);
}

.js-categories-item:hover,
.js-categories-item:focus {
  color: var(--accent-text-color);
  cursor: pointer;
  transition: all 500ms;
}

.js-categories-item:first-child {
  margin-top: 0;
}

/* scrollbar */

.js-categories::-webkit-scrollbar {
  width: 8px;
}

.js-categories::-webkit-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.18);
  border-radius: 20px;
  height: 116px;
}

/*=============================================
=          table and desk switch          =
===============================================*/

@media screen and (min-width: 768px) {
  .js-categories {
    height: 416px;
  }
  .left-site {
    padding-top: 26px;
    min-width: auto;
    width: 176px;
  }

  .js-categories::-webkit-scrollbar-thumb {
    height: 201px;
  }

  .js-categories-item {
    margin-top: 24px;
  }
  .all-categories-btn {
    margin-bottom: 35px;
  }
}
@media only screen and (min-width: 1280px) {
  .left-site {
    width: 235px;
  }
  .categories {
    min-width: 235px;
  }
}
/*=============================================
=         favorite categories                =
===============================================*/
.all-categories-btn.js-favorite-categories-btn {

  margin-right: 15px;
}
.favorite-categories {
  margin-top: 64px; /* Змінено для десктопу і планшета */
  width: 100%;
  display: flex;
  padding-bottom: 15px; /* Збережено простір внизу для видимого скрола */
  overflow-x: auto; /* Додано горизонтальний скрол */
  white-space: nowrap; /* Заборонено переносити кнопки на новий ряд */
}

.js-favorite-categories {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .favorite-categories {
    margin-top: 32px; /* Змінено для мобільного */
  }
}