.dark {
  background-color: #161616;
  transition: background-color 500ms;

  .popular-recipes-item-title,
  .nav-link,
  .dark-part,
  .title,
  .hero-text,
  .popular-recipes-title,
  .order-form-title {
    color: var(--white-text-color);
  }

  .popular-recipes-item-description,
  .subtitle-text {
    color: rgba(255, 255, 255, 0.8);
  }

  .svg-shopping-cart {
    stroke: var(--white-text-color);
  }
  .svg-shopping-cart:hover,
  .svg-shopping-cart:focus {
    stroke: var(--accent-text-color);
  }
  .btnOrderNow {
    background-color: transparent;
    color: var(--white-text-color);
  }

  .btnOrderNow:hover,
  .btnOrderNow:focus,
  .all-categories-btn:hover,
  .all-categories-btn:focus {
    border: 1px solid var(--accent-text-color);
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
  }

  .hamburger-svg,
  .order-close-icon {
    stroke: var(--white-text-color);
  }

  .swiper-pagination-bullet {
    background-color: var(--white-text-color);
    opacity: 1;
  }

  .search-label,
  .time-form,
  .area-form,
  .ingr-form,
  .js-categories-item,
  .number-rating,
  .order-form-label,
  .btn-form {
    color: rgba(255, 255, 255, 0.5);
  }

  .js-categories-item:focus,
  .js-categories-item:hover {
    color: var(--accent-text-color);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
  }

  .select-ing,
  .seleact-area,
  .select-time,
  .search-input,
  .all-categories-btn {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }

  .search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  .search-input:focus,
  .search-input:hover,
  .select-ing:focus,
  .select-ing:hover,
  .select-time:focus,
  .select-time:hover,
  .seleact-area:focus,
  .seleact-area:hover {
    color: var(--white-text-color);
  }

  .search-input:focus-within::placeholder {
    color: #161616;
  }

  .select-time::-webkit-scrollbar,
  .seleact-area::-webkit-scrollbar,
  .select-ing::-webkit-scrollbar {
    width: 6px;
    background-color: var(--main-title-text-color);
  }

  .select-time::-webkit-scrollbar-thumb,
  .seleact-area::-webkit-scrollbar-thumb,
  .select-ing::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }

  .select-time::-webkit-scrollbar-track,
  .seleact-area::-webkit-scrollbar-track,
  .select-ing::-webkit-scrollbar-track {
    background-color: #161616;
  }
  .option-style {
    background-color: #161616;
  }

  .icon-search {
    stroke: var(--white-text-color);
    fill: var(--white-text-color);
    opacity: 0.5;
  }

  .select-icon {
    stroke: var(--white-text-color);
    opacity: 0.5;
  }

  .search-input:focus,
  .search-input:hover + .icon-search {
    stroke: var(--accent-text-color);
  }

  .modal {
    background-color: var(--main-title-text-color);
  }

  .order-form-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .order-form-input:hover,
  .order-form-input:focus {
    color: var(--white-text-color);
  }

  .current {
    color: #9bb537;
  }
  .js-page,
  .js-three-dots {
    background-color: transparent;
    color: var(--white-text-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
