.sectirion-resp {
  padding-top: 40px;
}
.recipes-fav {
  margin-top: 16px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .sectirion-resp {
    padding-top: 64px;
  }
  .recipes-fav {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1200px) {
  .recipes-fav {
    margin-top: 32px;
  }
}

.fav-svg-heart {
  fill: rgba(248, 248, 248, 1);
  pointer-events: visibleStroke;
  width: 22px;
  height: 22px;
}
.fav-categories-btn {
  height: 46px;

  padding: 14px 18px;

  background-color: transparent;
  color: var(--secondary-text-color);
  border: 1px solid var(--input-color);
  border-radius: 15px;

  line-height: 0.82;
  font-weight: 500;
  font-size: 14px;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition: all 500ms;
}
.fav-categories-btn:hover,
.fav-categories-btn:focus {
  background-color: #9bb537;
  border: none;
  color: #f8f8f8;
}
.active {
  color: var(--accent-text-color);
}

.fav-categories {
  gap: 12px;
  display: flex;
  overflow-y: scroll;
  padding: 0px;
  white-space: nowrap;
}
.fav-categories::-webkit-scrollbar {
  width: 8px;
}
.hidden {
  display: none;
}
.fav-list {
  position: relative;
  margin-top: 24px;
}
.image-filter-fav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0.94deg,
    rgba(5, 5, 5, 0.6) 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  );
}
.categories-text-fav {
  position: absolute;
  top: 150px;
  left: 16px;
  width: 90%;
}
.title-text-fav {
  color: var(--white-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
}
.subtitle-text-fav {
  margin-top: 8px;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.34;
  width: 100%;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.categories-rating-fav {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 90%;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.number-rating-fav {
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.svg-rating-fav {
  margin-left: 4px;
  width: 90px;
  height: 18px;
}
.categories-btn-fav {
  border: none;
  border-radius: 8px;

  margin-left: auto;
  padding: 8px 14px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.19;
  color: var(--white-text-color);
  background-color: var(--button-color);
}
@media screen and (min-width: 321px) {
  .categories-text-fav {
    position: absolute;
    top: 214px;
    left: 16px;
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .fav-list {
    height: 244px;
    width: 224px;
  }
  .recipes-fav {
    gap: 16px;
    margin-bottom: 64px;
  }
  .categories-text-fav {
    top: 120px;
  }
  .categories-btn-fav {
    font-size: 10px;
  }
  .title-text-fav {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .fav-list {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .recipes-fav {
    column-gap: 16px;
    row-gap: 32px;
  }
  .fav-list {
    width: 258px;
    height: 287px;
  }
  .categories-text-fav {
    top: 170px;
  }
  .categories-btn-fav {
    font-size: 12px;
    padding: 8px 16px;
  }
}
