/* hero left site style */
.hero-section {
  padding-top: 90px;
}
@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 100px;
  }
}
.title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 14px;
}

.hero-span {
  color: #9bb537;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  font-style: italic;
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 28px;
}

.btnOrderNow {
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid #9bb537;
  color: #050505;
  font-size: 14px;
  font-weight: 500;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition: all 500ms;
  background-color: #f8f8f8;
}

.btnOrderNow:hover,
.btnOrderNow:focus {
  border: 1px solid #9bb537;
  background-color: #9bb537;
  color: #fff;
}

.hero-event {
  overflow: hidden;
}

.hero-desk {
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .hero-desk {
    margin-bottom: 64px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 16px;
    line-height: 1.2;
    width: 446px;
  }

  .hero-text {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 1.3;
    width: 403px;
  }

  .hero-span {
    font-size: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
  }
  .hero-desk {
    margin-right: 32px;
    padding-top: 64px;
    margin-bottom: 0;
  }
}

.swiper {
  position: relative;
  /* width: 100%; */
  /* height: 302px; */
  /* overflow: hidden; */
}

.hero-event {
  display: flex;
  gap: 8px;
  overflow: hidden;
}
.hero-block-chief {
  width: 80px;
  height: 280px;
  background-color: #050505;
  border-radius: 15px;
}
.hero-block-chief-img {
  width: 80px;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
}
.hero-block-event {
  width: 200px;
  height: 280px;
  background-image: radial-gradient(
    circle,
    rgba(155, 181, 55, 0.3) 2%,
    #050505 100%
  );
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  border-radius: 15px;
  justify-content: center;
  position: relative;
}
.hero-block-event-img {
  width: 100%;
  margin-top: 30px;
}
.hero-block-title {
  color: #f8f8f899;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 0 20px;
}
.hero-block-text {
  color: #f8f8f833;
  font-size: 6px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
}
.hero-block-meal {
  width: 185px;
  height: 280px;
  border-radius: 15px;
  background-color: #050505;
}
.hero-block-meal-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .hero-event {
    gap: 16px;
  }
  .hero-block-chief {
    width: 137px;
    height: 442px;
  }
  .hero-block-chief-img {
    width: 137px;
    height: 442px;
  }
  .hero-block-event {
    width: 351px;
    height: 442px;
  }
  .hero-block-meal {
    width: 351px;
    height: 442px;
  }
}

.swiper-slide {
  display: flex !important;
}
