 /* hero left site style */
 .hero-section {
  padding-top: 70px;
 }

 .title {
   text-transform: uppercase;
   font-size: 26px;
   font-weight: 600;
   line-height: 1.2;
   margin-bottom: 14px; 
 }

 .hero-span {
  color: #9bb537;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  font-style: italic;
 }

 .hero-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.5;
   margin-bottom: 28px;
 }

 .btnOrderNow {
   padding: 10px 20px;
   border-radius: 12px;
   border: 1px solid #9bb537;
   color: #050505;
   font-size: 14px;
   font-weight: 500;
   transition-property: color, background-color;
   transition-duration: 200ms;
   transition: all 500ms;
   margin-bottom: 48px;
   background-color: #F8F8F8;
 }

 .btnOrderNow:hover,
 .btnOrderNow:focus {
   border: 1px solid #9bb537;
   background-color: #9bb537;
   color: #fff;
 }

 .hero-event {
  overflow: hidden;
 }

 @media screen and (min-width: 320px) {
   .hero-desk {
     margin-bottom: 32px;
   }

 }

 @media screen and (min-width: 768px) {
   .hero-desk {
     margin-bottom: 32px;
   }

   .title {
     font-size: 36px;
     margin-bottom: 16px;
     line-height: 1.2;
     width: 446px;
   }

   .hero-text {
     font-size: 16px;
     margin-bottom: 32px;
     line-height: 1.3;
     width: 403px;
   }

   .hero-span {
     font-size: 36px;

   }

   .btnOrderNow{
     border-radius: 15px;
   }

 }
  
 @media screen and (min-width: 1200px) {
    .hero-container {
      display: flex;
      align-items: center;
      gap: 32px;
    }

 }

.swiper {
  position: relative;
  /* width: 100%; */
  /* height: 302px; */
  /* overflow: hidden; */
}

.hero-event {
  display: flex;
  gap: 8px;
  overflow: hidden;
}
.hero-block-chief {
  width: 80px;
  height: 280px;
}
.hero-block-chief-img {
  width: 80px;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
}
.hero-block-event {
  width: 200px;
  height: 280px;
  background-color: #050505;
  border-radius: 15px;
  justify-content: center;
  position: relative;
}
.hero-block-event-img {
  width: 100%;
  margin-top: 30px;
}
.hero-block-title {
  color: #F8F8F899;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 0 20px;
}
.hero-block-text {
  color: #F8F8F833;
  font-size: 6px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
}
.hero-block-meal {
  width: 185px;
  height: 280px;
  border-radius: 15px;
}
.hero-block-meal-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero-event {
    gap: 16px;
  }
  .hero-block-chief {
    width: 137px;
    height: 442px;
  }
  .hero-block-chief-img {
    width: 137px;
    height: 442px;
  }
  .hero-block-event {
    width: auto;
    height: auto;
  }
  .hero-block-meal {
    width: 351px;
    height: 442px;
  }
}
