.backdrop-recipe {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: visibility 1s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-recipe {
  max-width: 335px;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #ffffff;
  padding: 40px 20px 20px;
  border-radius: 8px;
  border-radius: 15px;
}
.modal-recipe::-webkit-scrollbar {
  width: 8px;
}
.modal-recipe::-webkit-scrollbar-thumb {
  background-color: rgba(11, 11, 11, 0.3);
  border-radius: 5px;
}
.modal-recipe::-webkit-scrollbar-track {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .modal-recipe {
    max-width: 531px;
    padding: 32px;
    height: 100%;
  }
}
.modal-recipe-close-btn {
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 301px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .modal-recipe-close-btn {
    top: 16px;
    left: 491px;
  }
}

.modal-recipe-svg {
  top: -2px;
  left: -2px;
  position: absolute;
}
.modal-recipe-svg:hover {
  stroke: rgba(46, 47, 66, 0.4);
}

.modal-recipe-title {
  font-weight: 600;
  font-size: 18px;
  color: #050505;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .modal-recipe-title {
    margin-top: 0;
    line-height: 1.22;
  }
}
.modal-recipe-iframe {
  border-radius: 8px;
}
.modal-recipe-video {
  margin-top: 6px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-recipe-iframe {
    width: 467px;
    height: 250px;
  }
  .modal-recipe-video {
    margin-top: 10px;
  }
}
.modal-recipe-rating {
  display: flex;
  color: #05050580;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.modal-recipe-rating-text {
  margin-right: 6px;
}
.modal-recipe-time {
  margin-left: 16px;
}
.modal-recipe-ingredients {
  margin-bottom: 40px;
  margin-top: 33px;
}
.modal-recipe-ingreds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0505051a;
  padding: 10px 0 8px;
}

@media screen and (min-width: 768px) {
  .modal-recipe-ingreds {
    width: 467px;
    padding: 14px 0 6px;
  }
}
.modal-recipe-ingd-name {
  font-weight: 400;
  font-size: 14px;
  color: #050505;
  line-height: 1.2;
}
.modal-recipe-ingd-measure {
  color: #05050580;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.2;
}
.modal-recipe-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  color: #050505;
  margin-bottom: 24px;
}
.modal-recipe-tag {
  border: 1px solid #05050533;
  padding: 8px 16px;
  border-radius: 35px;
  width: auto;
}
.modal-recipe-text {
  font-weight: 400;
  font-size: 14px;
  color: #050505cc;
  line-height: 1.3;
  margin-bottom: 40px;
}
.modal-recipe-btn-favorite {
  background: #9bb537;
  border: none;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  color: #f8f8f8;
  border-radius: 15px;
}
.modal-recipe-btn-favorite:hover,
.modal-recipe-btn-favorite:focus {
  color: #050505;
}
