.js-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.js-pagination button {
  margin: 0 5px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(5, 5, 5, 0.3);
}

.js-pagination .js-page.active {
  border: 1px solid transparent;
  background-color: #9bb537;
  color: black;
  border: 1px solid transparent;
}

.js-first-page,
.js-previous-page{
  background-color: black;
    color: rgba(248, 248, 248, 0.5);
}
.js-next-page,
.js-last-page {
background-color: #9bb537;
color: black;
border: 1px solid transparent;
}