.right-site {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .right-site {
    width: 527px;
    margin: 0 0 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .right-site {
    width: 846px;
    margin: 0 0 0 63px;
  }
}
.search-form {
  display: flex;
  flex-wrap: wrap;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.time-form,
.area-form,
.ingr-form {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  margin-top: 14px;
}
.area-form {
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .time-form,
  .area-form,
  .ingr-form {
    margin-top: 0;
  }
  .area-form {
    margin-left: 0;
    margin-top: 16px;
  }
  .ingr-form {
    margin-left: 16px;
    margin-top: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .area-form {
    margin-top: 0;
    margin-left: 16px;
  }
  .ingr-form {
    margin-top: 0;
  }
}
.icon-search-cont,
.icon-time-cont,
.icon-area-cont,
.icon-ing-cont {
  position: relative;
  margin-top: 8px;
}
.icon-ing-cont {
  width: 280px;
}
@media only screen and (min-width: 768px) {
  .icon-ing-cont {
    width: 188px;
  }
}
.select-icon {
  position: absolute;
  top: 20px;
  right: 21.5px;

  width: 12px;
  height: 7.5px;

  fill: none;
  stroke: var(--secondary-text-color);
  pointer-events: none;
}
.select-info {
  margin-top: 14px;
  display: flex;
  flex-wrap: nowrap;
}
.search-input {
  width: 100%;
  height: 46px;
  min-width: 280px;

  padding-left: 48px;

  border: 1px solid var(--input-color);
  border-radius: 15px;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
}
@media only screen and (min-width: 768px) {
  .search-input {
    height: 48px;
  }
}
@media only screen and (min-width: 1280px) {
  .search-input {
    width: 278px;
    min-width: auto;
  }
}

.search-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}
@media only screen and (min-width: 768px) {
  .search-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}
.search-label {
  display: block;
  width: 100%;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}
@media only screen and (min-width: 768px) {
  .search-label {
    width: 278px;
    font-size: 14px;
    line-height: 1.29;
  }
  .time-form,
  .area-form,
  .ingr-form {
    font-size: 14px;
    line-height: 1.29;
  }
}
.icon-search {
  position: absolute;
  top: 15.5px;
  left: 19.5px;
  fill: var(--secondary-text-color);

  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 768px) {
  .icon-search {
    top: 16.48;
    left: 19.48;
  }
}
.search-input:focus,
.search-input:hover + .icon-search {
  fill: var(--button-color);
}
.select-time,
.seleact-area {
  height: 46px;
  width: 135px;
  padding-left: 18px;

  border: 1px solid var(--input-color);
  border-radius: 15px;
  outline: none;
  user-select: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}
@media only screen and (min-width: 768px) {
  .time-form {
    margin-left: 16px;
  }
  .select-time {
    width: 125px;
    height: 48px;
    font-size: 16px;
    line-height: 1.25;
  }
  .seleact-area {
    width: 141px;
    height: 48px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.select-time:focus,
.seleact-area:focus,
.select-ing:focus,
.select-time:hover,
.seleact-area:hover,
.select-ing:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
}
.select-ing {
  width: 100%;
  height: 46px;

  padding-left: 18px;

  border: 1px solid var(--input-color);
  border-radius: 15px;
  outline: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}
@media only screen and (min-width: 768px) {
  .select-ing {
    height: 48px;
    font-size: 16px;
    line-height: 1.25;
    padding-right: 32px;
  }
}
/* Картки */
.categories-container {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .categories-container {
    margin-top: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
.categories-list + .categories-list {
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  .categories-list + .categories-list {
    margin-top: 0;
  }
}
.categories-list {
  height: 335px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .categories-list {
    height: 264px;
    width: 240px;
  }
}
@media only screen and (min-width: 1280px) {
  .categories-list {
    height: 287px;
    width: 250px;
  }
  .categories-container {
    column-gap: 16px;
    row-gap: 20px;
  }
}

.categories-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.image-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0.94deg,
    rgba(5, 5, 5, 0.6) 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  );
}

.add-favorites-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 0 transparent;
  padding: 0;
  background-color: transparent;
  z-index: 12;
}
.svg-heart {
  fill: none;
  pointer-events: visibleStroke;
  width: 22px;
  height: 22px;
}
.active-svg {
  fill: rgba(248, 248, 248, 1);
}
.categories-text {
  position: absolute;
  top: 214px;
  left: 16px;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .categories-text {
    top: 140px;
  }
}
.title-text {
  color: var(--white-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
}
.subtitle-text {
  margin-top: 8px;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.34;
  width: 100%;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.categories-rating {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 90%;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.svg-rating {
  margin-left: 4px;
  width: 90px;
  height: 18px;
}
.number-rating {
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.categories-btn {
  border: none;
  border-radius: 8px;

  margin-left: auto;
  padding: 8px 14px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.19;
  color: var(--white-text-color);
  background-color: var(--button-color);
}
.btn-form {
  display: flex;
  align-items: center;

  margin-top: 14px;
  margin-left: auto;
  padding: 0;
  background-color: inherit;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondary-text-color);
}
.icon-btn {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
