.icon-search {
  display: none;
}
.search-section {
  margin-top: 40px;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.search-label,
.time-form,
.area-form,
.ingr-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.select-info {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
}
/* Search */
.search-input {
  width: 335px;
  height: 46px;
  border: 1px solid var(--input-color);
  border-radius: 15px;
  outline: none;
}

/* .select-time,
.seleact-area {
  width: 160px;
  height: 46px;
  border: 1px solid var(--input-color);
  border-radius: 15px;
  appearance: none;
  outline: none;
  cursor: pointer;
} */
