@import url('./reset.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./categories-list.css');
@import url('./popular.css');
@import url('./pop-up.css');
@import url('./search-recipes.css');
@import url('./paginatin.css');
@import url('./modal-resipe.css');
@import url('./dark-theme.css');
@import url('./fav-hero.css');
:root {
  --main-background-color: #f8f8f8;

  --accent-text-color: #9bb537;
  --button-color: #9bb537;
  --black-text-color: #000000;
  --main-title-text-color: #050505;
  --white-text-color: #ffffff;

  /* кольори з прозорістю для текста  */
  --main-text-color: rgba(5, 5, 5, 0.8);
  --secondary-text-color: rgba(5, 5, 5, 0.5);
  --input-color: rgba(5, 5, 5, 0.2);
}
